<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="app" ng-controller="appController">
    <div class="container">
        <div class="alert alert-danger" ng-show="hasError" role="alert">{{error}}</div>
        <div class="row" ng-show="isConnected">
            <div class="col-md-3">
                <h2>Subscriptions</h2>
                <div class="input-group">
                  <input type="text" ng-model="topic" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-info" ng-click="subscribe()" type="button">Subscribe</button>
                  </span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div ng-repeat="item in subscriptions">
                <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">{{item.topic}}</div>
                      <div class="panel-body">
                        <div ng-repeat="msg in item.messages track by $index">
                            <p>{{msg}}</p>
                        </div>
                      </div>
                      <div class="panel-footer">
                        <div class="input-group">
                          <input type="text" ng-model="item.message" class="form-control" placeholder="your message here..." />
                            <span class="input-group-btn">
                            <button class="btn btn-success" ng-click="item.send()" type="button">Send</button>
                            <button class="btn btn-danger" ng-click="item.unsubscribe()" type="button">x</button>
                            </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/bootstrap.js"></script>
    <script src="js/mqttng.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
