<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="app" ng-controller="appController">
    <div class="container">
        <h1>{{status}}</h1>
        <button class="btn btn-success" ng-click="connectOrDisconnect()"> {{stateNext}}</button>
        <div class="panel" ng-show="hideBelow">
            <div class="row">
                <form >
                    <div class="form-group col-lg-5">
                        <label>Host</label>
                        <input class="form-control" id="urlInput" ng-model="host" type="text">
                    </div>

                    <div class="form-group col-lg-2">
                        <label>Port</label>
                        <input class="form-control" id="portInput" type="number" ng-model="port">
                    </div>

                    <div class="form-group col-lg-3">
                        <label>Client Id</label>
                        <input class="form-control" ng-model="clientId" id="clientIdInput" type="text">
                    </div>

                    <div class="form-group col-lg-4">
                        <label>Username</label>
                        <input class="form-control" ng-model="userName" id="userInput" type="text">
                    </div>

                    <div class="form-group col-lg-3">
                        <label>Password</label>
                        <input class="form-control" ng-model="password" id="pwInput" type="password">
                    </div>

                    <div class="form-group col-lg-2">
                        <label>Keep Alive</label>
                        <input class="form-control" id="keepAliveInput" type="text" value="60">
                    </div>

                    <div class="form-group col-lg-1">
                        <label>SSL</label>
                        <input id="sslInput" ng-model="useSSL" class="checkbox" type="checkbox">
                    </div>

                    <div class="form-group col-lg-2">
                        <label>Clean Session</label>
                        <input class="checkbox" ng-model="cleanSession" id="cleanSessionInput" type="checkbox" checked="checked" disabled="disabled">
                    </div>

                    <div class="form-group col-lg-8">
                        <label>Last-Will Topic</label>
                        <input class="form-control" id="lwTopicInput" type="text">
                    </div>

                    <div class="form-group col-lg-2">
                      <label>Last-Will QoS</label>
                      <select class="form-control">
                        <option ng-repeat="item in qos" value="{{item}}">{{item}}</option>
                      </select>
                    </div>

                    <div class="form-group col-lg-2">
                        <label>Last-Will Retain</label>
                        <input class="checkbox" id="LWRInput" type="checkbox">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Last-Will Messsage</label>
                        <textarea class="form-control" id="LWMInput"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" ng-show="isConnected">
            <div class="col-md-9">
                <h2>Publish</h2>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Topic</label>
                        <input id="publishTopic" class="form-control" type="text" ng-model="topic">
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="publishQoSInput">QoS</label>
                        <select id="publishQoSInput" class="form-control" ng-model="qos">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Retain</label>
                        <input id="publishRetain" class="form-control" type="checkbox" ng-model="retain">
                    </div>
                    <div class="lform-group col-lg-3">
                        <a class="btn btn-success" ng-click="publish()">Publish</a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>Message</label>
                        <textarea id="publishPayload" class="form-control"  ng-model="message"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>Subscriptions</h2>
                <ul class="unstyled">
                  <li ng-repeat="item in subscriptions">
                    <span>{{item.value}}</span>
                    <a class="btn btn-success" ng-click="item.unsubscribe()">Un Subscribe</a>
                  </li>
                </ul>
                <input type="text" class="form-control" ng-model="destinationName" />
                <a class="btn btn-success" ng-click="subscribeConnection()">Subscribe</a>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="msg in messages" ng-show="isConnected">
                <div class="col-md-2"> {{msg.destinationName}} </div>
                <div class="col-md-10"> {{msg.payloadString}} </div>
            </div>
        </div>
    </div>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/bootstrap.js"></script>
    <script src="js/mqttws31.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
