<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="app" ng-controller="appController">
    <div class="container">
        <h1>{{hello}}</h1>
        <div class="panel">
            <div class="row">
                <form >
                    <div class="form-group col-lg-5">
                        <label>Host</label>
                        <input class="form-control" id="urlInput" ng-model="host" type="text" value="broker.mqttdashboard.com">
                    </div>

                    <div class="form-group col-lg-1">
                        <label>Port</label>
                        <input class="form-control" id="portInput" type="number" ng-model="port">
                    </div>

                    <div class="form-group col-lg-4">
                        <label>ClientID</label>
                        <input class="form-control" ng-model="clientId" id="clientIdInput" type="text">
                    </div>

                    <div class="form-group col-lg-2">
                      <button class="btn btn-success" ng-click="connectOrDisconnect()"> {{stateNext}}</button>
                    </div>

                    <!-- <div class="form-group col-lg-2">
                        <a id="disconnectButton" class="btn btn-primary" onclick="websocketclient.disconnect();">Disconnect</a>
                    </div> -->

                    <div class="form-group col-lg-4">
                        <label>Username</label>
                        <input class="form-control" ng-model="userName" id="userInput" type="text">
                    </div>

                    <div class="form-group col-lg-3">
                        <label>Password</label>
                        <input class="form-control" ng-model="password" id="pwInput" type="password">
                    </div>

                    <div class="form-group col-lg-2">
                        <label>Keep Alive</label>
                        <input class="form-control" id="keepAliveInput" type="text" value="60">
                    </div>

                    <div class="form-group col-lg-1">
                        <label>SSL</label>
                        <input id="sslInput" ng-model="useSSL" class="checkbox" type="checkbox">
                    </div>

                    <div class="form-group col-lg-2">
                        <label>Clean Session</label>
                        <input class="checkbox" ng-model="cleanSession" id="cleanSessionInput" type="checkbox" checked="checked" disabled="disabled">
                    </div>

                    <div class="form-group col-lg-8">
                        <label>Last-Will Topic</label>
                        <input class="form-control" id="lwTopicInput" type="text">
                    </div>

                    <div class="form-group col-lg-2">
                      <label>Last-Will QoS</label>
                      <select class="form-control">
                        <option ng-repeat="item in qos" value="{{item}}">{{item}}</option>
                      </select>
                    </div>

                    <div class="form-group col-lg-2">
                        <label>Last-Will Retain</label>
                        <input class="checkbox" id="LWRInput" type="checkbox">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Last-Will Messsage</label>
                        <textarea class="form-control" id="LWMInput"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/bootstrap.js"></script>
    <script src="js/mqttws31.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
